%h1 About
%p This site is about helping the students of tsds4.us.
%p The idea is to clone the code behind this site to your laptop.
%p Then, you enhance the code to serve your data science visualizations to the public.
%p After you enhance the code you deploy it to Heroku, EC2, or DigitalOcean.
%p If you have questions, contact Dan Bikle:
%p bikle101@gmail.com
=render '/layouts/bottom_bar'

