%h1 Blog
%p 2016-07-29
%p Dan Bikle bikle101@gmail.com
%hr/
%p For some use-cases, Rails is very well suited.
%p For a quick-static website, I like using the http-server module in Node.js
%p Both Rails and Node.js apps run well on Heroku.com
=render '/layouts/bottom_bar'

