!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title app09/visualizations
    %link(rel="icon" href="/favicon.ico")
    %link(href="/my.css" rel="stylesheet")

  %body
    = render "/layouts/top_bar"
    = yield
    %hr/
    %script(src="/my.js")
